.account-wrapper
  .account-body
    %h3.account-body-title Uploader Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form account-form"}) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, User.human_attribute_name("email"), class: "placeholder-hidden"
        = f.email_field :email, autofocus: true, placeholder: User.human_attribute_name("email"), class: "form-control"

      .form-group
        = f.label :password, User.human_attribute_name("password"), class: "placeholder-hidden"
        = f.password_field :password, placeholder: User.human_attribute_name("password"), class: "form-control"

      .form-group
        = f.label :password_confirmation, User.human_attribute_name("password_confirmation"), class: "placeholder-hidden"
        = f.password_field :password_confirmation, placeholder: User.human_attribute_name("password_confirmation"), class: "form-control"

      .form-group.clearfix
        .pull-left
          = render "devise/shared/links"

      .form-group
        = f.submit "Sign up", class: "btn btn-primary btn-block btn-lg"

  .account-footer
