.account-wrapper
  .account-body
    %h3.account-body-title Change your password
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "form account-form", method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, User.human_attribute_name("password"), class: "placeholder-hidden"
        = f.password_field :password, placeholder: User.human_attribute_name("password"), class: "form-control"

      .form-group
        = f.label :password_confirmation, User.human_attribute_name("password_confirmation"), class: "placeholder-hidden"
        = f.password_field :password_confirmation, placeholder: User.human_attribute_name("password_confirmation"), class: "form-control"

      .form-group.clearfix
        .pull-left
          = render "devise/shared/links"


      .form-group
        = f.submit "Change my password", class: "btn btn-primary btn-block btn-lg"

  .account-footer
