.account-wrapper
  .account-body
    %h3.account-body-title Forgot your password?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "form account-form", method: :post }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, User.human_attribute_name("email"), class: "placeholder-hidden"
        = f.email_field :email, autofocus: true, placeholder: User.human_attribute_name("email"), class: "form-control"

      .form-group.clearfix
        .pull-left
          = render "devise/shared/links"


      .form-group
        = f.submit "Send me reset password instructions", class: "btn btn-primary btn-block btn-lg"

  .account-footer
