%nav.navbar.navbar-default
  .container
    .navbar-header
      = link_to "Uploader", root_path, class: "navbar-brand"


    %ul.nav.navbar-nav.navbar-right
      %li.dropdown.navbar-profile
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:;"}
          %span= current_user.email
          %i.fa.fa-caret-down
        %ul.dropdown-menu{:role => "menu"}
          -# %li
          -#   %a{:href => "./page-profile.html"}
          -#     %i.fa.fa-user
          -#     \  My Profile
          -# %li.divider
          %li
            = link_to destroy_user_session_path, :method => :delete do
              %i.fa.fa-sign-out
              Logout
