.account-wrapper
  .account-body
    %h3.account-body-title Uploader Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form account-form"}) do |f|
      .form-group
        = f.label :email, User.human_attribute_name("email"), class: "placeholder-hidden"
        = f.email_field :email, autofocus: true, placeholder: User.human_attribute_name("email"), class: "form-control"

      .form-group
        = f.label :password, User.human_attribute_name("password"), class: "placeholder-hidden"
        = f.password_field :password, placeholder: User.human_attribute_name("password"), class: "form-control"

      .form-group.clearfix
        .pull-left
          = render "devise/shared/links"
        .pull-right
          - if devise_mapping.rememberable?
            %label.checkbox-inline
              = f.check_box :remember_me
              Remember me


      .form-group
        = f.submit "Log in", class: "btn btn-primary btn-block btn-lg"

  .account-footer
