@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "target-admin";
@import "jquery.fileupload";
@import "jquery.fileupload-ui";
@import "bootstrap-tagsinput";

#error_explanation h2 {font-size: 16px; font-weight: bold;}
#error_explanation ul {padding-left:20px;}
.files td:first-child {display: none;}
.bootstrap-tagsinput {width: 100%;}
