!!!
%html
  %head
    %title Uploader
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render partial: "shared/flash_msg"
    = yield
